# Environment variables — NEVER commit this
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Django
*.log
db.sqlite3
staticfiles/
media/

# Virtual environments
venv/
env/
.venv/

# macOS
.DS_Store

# IDE
.vscode/
.idea/
