{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> ДОМ КУЛТУРЕ СТАРИ КОЛАШИН </title>
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,600;0,700;1,400&family=Alumni+Sans+SC:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/awj1umo.css">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{% static 'core/icons/favicon.png' %}">
    <link rel="shortcut icon" href="{% static 'core/icons/favicon.png' %}">

    <!-- Add to Home Screen -->
    <link rel="apple-touch-icon" href="{% static 'core/icons/icon.jpg' %}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Стари Колашин">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#1a1a1a">
    <link rel="manifest" href="{% static 'core/site.webmanifest' %}">

</head>

<body>

    <header>
        <nav class="nav">
            <h1 class="logo">
    <a href="/" class="logo-link">

        <div class="logo-mark">
            <img src="/static/core/icons/favicon.png" alt="Лого">
            <div class="logo-mark-bar"></div>
        </div>

        <div class="logo-divider"></div>

        <div class="logo-text">
            <span class="logo-top">Дом културе</span>
            <span class="logo-orn">◆</span>
            <span class="logo-bottom">Стари Колашин</span>
        </div>
    </a>
</h1>

            <button class="menu-toggle" id="menuToggle">
                ☰
            </button>

            <ul class="nav-links" id="navLinks">
                <li class="close-menu">
                    <button id="closeMenu">✕</button>
                </li>

                <li><a href="{% url 'core:about' %}">О нама</a></li>
                <li><a href="/#vesti">Вести</a></li>
                <li><a href="{% url 'core:rec' %}">Часопис</a></li>
                <li><a href="{% url 'prodavnica:market' %}">Продавница</a></li>
                 <li><a href="{% url 'core:bioskop' %}">Биоскоп</a></li>
                <li><a href="/#kontakt">Контакт</a></li>
            </ul>

        </nav>
        {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}
    </header>
    <main>
        {% block content %}
        {% endblock %}

    </main>


    <footer>

        <div class="cnt-footer" id="kontakt">

            <div class="left">

                <h2>КОНТАКТ</h2>

                <p>📧 E-mail: domkulturezp@gmail.com</p>
                <p>📞 Телефон: +381 64 123 64 00</p>
                <a href="https://maps.app.goo.gl/inWKCGfaW5cemuZ46" target="_blank">📍 Колашинских кнежева 29, 38228 Зубин Поток</a>


            </div>


            <div class="right">

                <h2>ПРАТИТЕ НАС</h2>

                <div class="socials">

                    <a href="https://www.youtube.com/@starikolasin" target="_blank">
                        <i class="fa-brands fa-youtube"></i>
                    </a>

                    <a href="https://www.instagram.com/kulturnicentarstarikolasin/" target="_blank">
                        <i class="fa-brands fa-instagram"></i>
                    </a>

                    <a href="https://www.facebook.com/p/%D0%94%D0%BE%D0%BC-%D0%BA%D1%83%D0%BB%D1%82%D1%83%D1%80%D0%B5-%D0%A1%D1%82%D0%B0%D1%80%D0%B8-%D0%9A%D0%BE%D0%BB%D0%B0%D1%88%D0%B8%D0%BD-%D0%97%D1%83%D0%B1%D0%B8%D0%BD-%D0%9F%D0%BE%D1%82%D0%BE%D0%BA-100053360948017/" target="_blank">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>


                </div>

            </div>

        </div>

    </footer>


    {% block script %}
    {% endblock %}

   

   <script>

document.addEventListener("DOMContentLoaded", () => {

    const toggle = document.getElementById("menuToggle");
    const nav = document.getElementById("navLinks");
    const close = document.getElementById("closeMenu");
    const scrollBtn = document.getElementById("scrollTopBtn");
    
    document.querySelectorAll('.alert').forEach(el => {
    setTimeout(() => {
        el.style.opacity = "0";
        el.style.transform = "translateY(-10px)";
        el.style.transition = "0.5s ease";

        setTimeout(() => {
            el.remove();
        }, 500);
    }, 3000);
});
    // OPEN MENU
    toggle.addEventListener("click", () => {
        nav.classList.add("active");
    });

    // CLOSE MENU (X)
    close.addEventListener("click", () => {
        nav.classList.remove("active");
    });

    // CLOSE ON LINK CLICK
    document.querySelectorAll(".nav-links a").forEach(link => {
        link.addEventListener("click", () => {
            nav.classList.remove("active");
        });
    });

    // SCROLL TO TOP BUTTON
    window.addEventListener("scroll", () => {
        if (window.innerHeight + window.scrollY >= document.body.offsetHeight/1.5) {
            scrollBtn.classList.add("show");
        } else {
            scrollBtn.classList.remove("show");
        }
    });

    scrollBtn.addEventListener("click", () => {
        window.scrollTo({
            top: 0,
            behavior: "smooth"
        });
    });

});

</script>

</body>

</html>